@import 'index.scss';

/* fonts
---------------------*/
.iconfont{
    font-size: 14px;
    display: inline-block;
}
.iconfont.bs-icon-loading {
    animation: rotating 1.2s linear infinite;
    -webkit-animation: rotating 1.2s linear infinite;
}
.iconfont.bs-new-icon-loading {
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
}
@keyframes rotating {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}